<%# add navigation links to this file %>
<li class="navbar-brand">Sitter Swap</li>
<li><%= link_to 'Home', root_path %><li>
<li id="appointments-menu" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Groups <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
		<li><%= link_to 'Groups', groups_path %><li>
		<li><%= link_to 'Create Group', new_group_path %><li>
      </ul>
    </li>
<li><%= link_to 'About', page_path('about') %></li>
